:root{
    --fundo: #16a0a0;
    --cartao-frente: #8B0000;
    --cartao-verso : #8e2dd7;
    --preto: #000000;
    --branco: #ffffff;
    --destaque: #00f2ff;
}

body{
    background-color: var(--fundo);
    margin: 0;
}

footer{
    background-color: var(--preto);
    color: var(--branco);
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: center;
}